#hero-contact{
    padding-top: 100px;
    background: url('../public/images/contact/hero-bg.jpg') no-repeat center bottom;
    background-size: cover;
    min-height: 650px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(min-width: 1441px){
        min-height: 800px;
    }    
    @media(max-width: 767px){
        min-height: 450px;
    }
    @media(max-width: 575px){
        padding-top: 130px;
        min-height: 350px;
    }
}

#waitlist{
    &.is-contact{
        background: linear-gradient(180deg, #000000 0%, #BB6E4D 100%);
    }
}