@font-face {
  font-family: 'MADE Okine Sans';
  src: url('../font/MADEOkineSans-Bold.eot');
  src: url('../font/MADEOkineSans-Bold.woff2') format('woff2'),
    url('../font/MADEOkineSans-Bold.woff') format('woff'),
    url('../font/MADEOkineSans-Bold.ttf') format('truetype'),
    url('../font/MADEOkineSans-Bold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}